<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='path/to/font-awesome/css/all.min.css') }}">

    <title>Portafolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>
<body>

    <!-- MENU ENCABEZADO -->
    <div class="contenedor-header">
        <header>
            <div class="logo">
                <a href="#inicio">JHON</a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="#inicio" onclick="seleccionar()">HOME</a></li>
                    <li><a href="#sobremi" onclick="seleccionar()">ABOUT ME</a></li>
                    <li><a href="#skills" onclick="seleccionar()">SKILLS</a></li>
                    <li><a href="#curriculum" onclick="seleccionar()">CURRICULUM</a></li>
                    <li><a href="#portfolio" onclick="seleccionar()">BRIEFCASE</a></li>
                    <li><a href="#contacto" onclick="seleccionar()">CONTACT</a></li>
                </ul>
            </nav>
            <div class="nav-responsive" onclick="mostrarOcultarMenu()">
                <img src="{{ url_for('static', filename='image/menu.png') }}" alt="">
            </div>
        </header>
    </div>
   
    <!-- SECCION INICIO -->
    <section id="inicio" class="inicio">
        <div class="contenido-banner">
            <div class="contenedor-img">
                <img src="{{ url_for('static', filename='image/PeakyBlinders.jpg') }}" alt="">
            </div>
            <h1>JHON ANTHONY JIMENEZ</h1>
            <h2>Software Engineers- Expert BACKEND-PYTHON</h2>
            <div class="redes">
                <a href="#"><img src="{{ url_for('static', filename='image/facebook.png') }}" alt="facebook"></a>
                <a href="#"><img src="{{ url_for('static', filename='image/upwork.png') }}" alt="github"></a>
                <a href="#"><img src="{{ url_for('static', filename='image/github.png') }}" alt="github"></a>
                <a href="#"><img src="{{ url_for('static', filename='image/linkedin.png') }}" alt="linkedin"></a>
                <a href="#"><img src="{{ url_for('static', filename='image/instagram.png') }}" alt="instagram"></a>
                
            </div>
        </div>
    </section>
    
    
    <!-- SECCION SOBRE MI -->
    <section id="sobremi" class="sobremi">
        <div class="contenido-seccion">
            <h2>About me</h2>
            <p><span>GREETINGS, I am JHON.</span>  a seasoned software developer specializing in backend development. With three years of dedicated study and hands-on experience, I've cultivated expertise in Python, HTML, CSS, JavaScript, and SQL. 
                Collaborating within dynamic teams, I've contributed to the successful delivery of high-level academic projects, including a comprehensive task management system and an online learning platform. 
                Committed to continual growth, I aspire to leverage my skills to drive innovation and make meaningful contributions to society. 
                For further inquiries or to connect professionally, please feel free to reach out <a href="#contacto" class="styled-link">On <span class="highlighted">this</span> form.</a></li></p>
                
                
                <div class="fila">
                    <!-- datos personales -->
                <div class="col">
                    <h3>Personal Information</h3>
                    <ul>
                        <li>
                            <strong>Date of birth</strong>
                            10-04-2003
                        </li>
                        <li>
                            <strong>Phone</strong>
                            809 709 3903
                        </li>
                        <li>
                            <strong>Email</strong>
                            jhonanthonyjimenez568@gmail.com
                        </li>
                        <li>
                            <strong>Website</strong>
                            www.example.com
                        </li>
                        <li>
                            <strong>Address</strong>
                            SANTO DOMINGO ESTE, DR
                        </li>
                        <li>
                            <strong>Current Position</strong>
                            <span>Customer care Advisor</span>
                        </li>
                    </ul>
                </div>

                <!-- intereses -->
                <div class="col">
                    <h3>Interests</h3>
                    <div class="contenedor-intereses">
                        <div class="interes">
                            <i class="fa-solid fa-gamepad"></i>
                            <span>LANGUAGES</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-headphones"></i>
                            <span>MUSIC</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-plane"></i>
                            <span>TRAVEL</span>
                        </div>
                        <div class="interes">
                            <i class="fa-brands fa-apple"></i>
                            <span>DANCE</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-person-hiking"></i>
                            <span>SPORT</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-book"></i>
                            <span>BOOKS</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-car"></i>
                            <span>CARS</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-camera"></i>
                            <span>PROGRAMMING</span>
                        </div>
                        
                    </div>
                </div>
            </div>

            <button id="downloadButton">
                Download CV <i class="fa-solid fa-download"></i>
                <span class="overlay"></span>
            </button>
            
            <script>
                document.getElementById('downloadButton').addEventListener('click', 
                function() {
                    window.location.href = '{{ url_for("download_cv") }}';
                });
            </script>
            
            
        </div>
    </section>
    
    <!-- SECCION SKILLS -->
    <section class="skills" id="skills">
        <div class="contenido-seccion">
            <h2>Skills</h2>
            <div class="fila">
                <!-- Technical Skill -->
                <div class="col">
                    <h3>Technical Skills</h3>
                    <div class="skill">
                        <span>HTML & CSS</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>PYTHON</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>95%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>FLASK Y DJANGO</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>SQL</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>85%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>JAVASCRIPT</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Professional Skills -->
                <div class="col">
                    <h3>Professional Skills</h3>
                    <div class="skill">
                        <span>Comunication</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>89%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Teamwork</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>85%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Creativity</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Dedication</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>83%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>English</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>95%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- SECCION CURRICULUM -->
    <section id="curriculum" class="curriculum">
        <div class="contenido-seccion">
            <h2>Curriculum</h2>
            <div class="fila">
                <div class="col izquierda">
                    <h3>Education</h3>
                    <div class="item izq">
                        <h4>Tecnologo en software</h4>
                        <span class="casa">Instituto Tecnologico de las americas</span>
                        <span class="fecha">2022 - 2024</span>
                        <p>During my time at ITLA, I had the opportunity to immerse myself in a dynamic and challenging academic environment, where I acquired a strong set of technical skills and fundamental programming knowledge. 
                            My experiences as a student were not limited to the classroom;
                            I actively participated in collaborative projects where I was able to apply my skills in problem solving and creating innovative solutions.</p>
                            <div class="conectori">
                                <div class="circuloi"></div>
                            </div>
                        </div>
                        <div class="item izq">
                        <h4>Ingenieria de software</h4>
                        <span class="casa">Universidad Autonoma Para Adultos</span>
                        <span class="fecha">2022 - <strong>PEDING</strong></span>
                        <p>
                            Throughout my tenure at University UAPA studying Software Engineering, I've significantly elevated my programming expertise, sharpened my problem-solving acumen, and delved into the complexities of large-scale software architecture. 
                            Through rigorous coursework and hands-on experience, I've adeptly navigated intricate coding challenges and honed my analytical approach to problem-solving. Moreover, I've gained valuable insights into crafting robust and scalable software systems. 
                            My ongoing commitment to advancing my skills underscores my dedication to academic and professional growth as I continue my studies at University UAPA.
                        </p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                    <div class="item izq">
                        <h4>Online Plaforms y Courses</h4>
                        <span class="casa">linkedin, Udemy, Freecodecamp</span>
                        <span class="fecha">2018 - 2024</span>
                        <p>
                            In my pursuit of knowledge, I've embarked on a learning journey through various online platforms such as LinkedIn, YouTube, Udemy, and FreeCodeCamp. 
                            Through these avenues, I've delved deep into the fundamentals of programming, explored the intricacies of web services, and gained expertise in managing relational databases.
                            My skills extend to proficiency in languages like <b>Python</b>, <b>JavaScript</b>, <b>C#</b>, as well as frameworks like Django and Flask.
                            Not only have I dedicated myself to mastering technical skills, but I've also invested time in improving my English language fluency and refining my communication abilities. 
                            Furthermore, I've applied my learning to practical use by engaging in projects that tackle real-world challenges, thus cementing my understanding and applicability of acquired knowledge. 
                            This comprehensive journey has equipped me with a robust skill set and a readiness to thrive in the dynamic landscape of digital innovation.
                            

                        </p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col derecha">
                    <h3>Work experience</h3>
                    <div class="item der">
                        <h4>Front Developer</h4>
                        <span class="casa">Nombre de Compañía</span>
                        <span class="fecha">2005 - 2008</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                    <div class="item der">
                        <h4>Front Developer</h4>
                        <span class="casa">Nombre de Compañía</span>
                        <span class="fecha">2005 - 2008</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                    <div class="item der">
                        <h4>Front Developer</h4>
                        <span class="casa">Nombre de Compañía</span>
                        <span class="fecha">2005 - 2008</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SECCION PORTFOLIO -->
    <section id="portfolio" class="portfolio">
        <div class="contenido-seccion">
            <h2>BRIEFCASE</h2>
            <div class="galeria">
                <div class="proyecto">
                    <img src="{{ url_for('static', filename='image/python.jpg') }}" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="{{ url_for('static', filename='image/python.jpg') }}" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="{{ url_for('static', filename='image/js.jpg') }}" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="{{ url_for('static', filename='image/js.jpg') }}" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="{{ url_for('static', filename='image/js.jpg') }}" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="{{ url_for('static', filename='image/python.jpg') }}" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECCION CONTACTO -->

   
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h5 id="flash-message" class="flash-message">{{ message }}</h5>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <section id="contacto" class="contacto">
        <div class="contenido-seccion">
            <h2>CONTACT</h2>
        <div class="fila">
            <!-- Formulario -->
            <div class="col">
                <form action="/send_message" method="POST">
                    <input type="text" required name="name" placeholder="Name">
                    <input type="number" required name="phone" placeholder="Phone">
                    <input type="email" required name="email" placeholder="Email">
                    <input type="text" required name="subject" placeholder="Subject">
                    <textarea required name="message" cols="30" rows="10" placeholder="Message"></textarea>
                    <button type="submit">
                        Send message <i class="fa-solid fa-paper-plane"></i>
                        <span class="overlay"></span>
                    </button>
                </form>
            </div>
            
            <!-- Mapa -->
            <div class="col">
                <img src="{{ url_for('static', filename='image/Ubicacion.png') }}" alt="">
                <div class="info">
                    <ul>
                        <li>
                            <i class="fa-solid fa-location-dot"></i>
                            Cruce de Mendoza, santo domingo este
                        </li>
                        <li>
                            <i class="fa-solid fa-mobile-screen"></i>
                            Contact me at: 809-709-3803
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope"></i>
                            Email: jhonanthonyjimenez568@gmail.com
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- footer -->
<footer>
        <!-- <a href="#inicio" class="arriba"> -->
            <a href="#inicio" class="arriba">
                
                <img src="{{ url_for('static', filename='image/up-arrow.png') }}" alt="up-arrow" style="height: 50px; width: 50px;">
            </a>

            
            <!-- <div class="redes">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-skype"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-solid fa-rss"></i></a>
        </div> -->
    </footer>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>